<html>
    <head>
        <title>{% block title %} Assignments {% endblock %}</title>
         <link type="text/css"
          rel="stylesheet"
          href="{{ url_for('static', filename = 'style.css') }}">
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <div class="assignments content">
            {% for assignment in assignmnets %}
            {% block tile %}
            <div class="card">
                <div class="container">
                    <h4><b>{{assignment.psetTitle}}</b></h4>
                    <p>{{assignment.dueDate}}</p>
                </div>
            </div>
            {% endblock %}
            {% endfor %}
        </div>
        {% endblock %}
    </body>
    
</html>