<html>
    <head>
        <title>{% block title %} Assignments {% endblock %}</title>
         <link type="text/css"
          rel="stylesheet"
          href="{{ url_for('static', filename = 'style.css') }}">
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <div class="assignments content">
        	<form method=POST action="{{url_for('newAssignment')}}">

                <fieldset> <!--group related elements and draw a box around those elements-->
                <legend>Assignment Information</legend> <!--a caption to the fieldsete-->
                <table>
                <tr><td><label for="psetNum" accesskey="n">(1) Assignment Number:</label></td> <!--td is like a cell in the table; note that for matches the id of the next element; access key is a shortcut to an element-->
                    <td><input type="text" name="psetNum" id="psetNum"></td></tr>
                <tr><td><label for="psetTitle" accesskey="t">(2) Assignment Title:</label></td>
                    <td><input type="text" name="psetTitle" id="psetTitle"></td></tr>
                <tr><td><label for="dueDate" accesskey="d">(3) Due Date:</label></td>
                    <td><input type="date" name="dueDate" id="dueDate"></td></tr>
                <tr><td><label for="maxSize" accesskey="s">(4) Max Group Size:</label></td>
                    <td><input type="number" name="maxSize" id="maxSize"></td></tr>
                </table>
                </fieldset>
            
                <p> <input type='submit' value='Add New Assignment'> </p>
        
        
            </form>
        	
        </div>
        {% endblock %}
    </body>
    
</html>