<html>
    <head>
        <title>{% block title %} Assignments {% endblock %}</title>
         <link type="text/css"
          rel="stylesheet"
          href="{{ url_for('static', filename = 'style.css') }}">
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <div class="assignments content">
            
            <form id="search" method=POST action="{{url_for('search')}}">
                <input id="searchterm" placeholder="Search by title" name="searchterm">
                <button id="searchbutton" type="submit" name="submit" value="Search">Search</button>
            </form>
            
            
            <!--TBD-->
            <!--<a href = "url_for('newAssignment')">Add a new assignment</a>-->
            
            
            {% block tile %}
            <!--<div class="card">-->
                <div class="container">
                    <h4><b>Assignments</b></h4>
                    <table id="assignment-list">
                        <tr>
                                <th>Title</th>
                                <th>Due Date</th>
                                <th>Max Size</th>
                                <th>Group</th>
                        </tr>
                        {% for pset in psets %}
                            <tr data-pid={{pset.pid}}>
                                <td class="title">{{pset.psetTitle}}</td>
                                <td class="dueDate">{{pset.dueDate}}</td>
                                <td class="size">{{pset.maxSize}}</td>
                                <td class='group'>{{pset.groupNum}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    
                </div>
            <!--</div>-->
            {% endblock %}
        </div>
        {% endblock %}
    </body>
    
</html>