<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %} Base {% endblock %}</title>
        <link rel="icon" 
          type="image/png" 
          href="{{ url_for('static', filename = 'images/logo.png') }}">
        <link type="text/css"
          rel="stylesheet"
          href="{{ url_for('static', filename = 'style.css') }}" sizes="32x32">
          {% block head %}
          {% endblock %}
    </head>
    <body>
        {%block navabar%}
        <ul class= "navbar">
            <img style='margin-left: -11%;' src="{{url_for('static', filename = 'images/logo.png')}}" width="175px" height="140px">
            {% if logged_in %}
            <li style="margin-top: -20%;"class="nav_li"><a class= "" href="{{url_for('dashboard')}}">Dashboard</a></li>
            {%else%}
             <li style="margin-top: -20%;" class="nav_li"><a class= "" href="{{url_for('index')}}">Home</a></li>
            {% endif %}
           
            <li class="nav_li"><a class= "" href="{{url_for('profile')}}">Profile</a></li>
            <li class="nav_li"><a class= ""  href="{{url_for('courses')}}">Courses</a></li>
            {% if logged_in %}
             <li class="nav_li"><a class= "logout" href="{{url_for('logout')}}">Logout</a></li>
            {% endif %}
        </ul>
        {%endblock%}
        
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div id="messages" style="margin-left:45%;">
                    {% for msg in messages %}
                        <span>{{msg}}</span>
                    {% endfor %}
                    </div>
                {% endif %}
             {% endwith %}
             
             
            {% block content %}
            
            <div class="content" style="margin-left:25%;">
         
                <h1 style="text-align:center;">CoPro</h1>
                <form method="POST" action="{{url_for('flaskLogin')}}">
                  <input type="text" id="login" name="username-email" placeholder="login">
                  <br>
                  <input type="password" id="password" name="password" placeholder="password">
                  <input type="submit"value="Log In">
    
                </form>
                <a href="{{url_for('newUser')}}">Sign Up Here</a>
                <br>
                 <a href="{{url}}"> Google Login</a>
                 
             </div>
            {% endblock %}
             
       
    </body>
{% block script %}

{%endblock%}
</html>