<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %} Base {% endblock %}</title>
        <link type="text/css"
          rel="stylesheet"
          href="{{ url_for('static', filename = 'style.css') }}">
          {% block head %}
          {% endblock %}
    </head>
    <body>
        {%block navabar%}
        <ul class= "navbar">
            <li class="nav_li"><a class= "" href="{{url_for('index')}}">Home</a></li>
            <li class="nav_li"><a class= "" href="{{url_for('profile')}}">Profile</a></li>
            <li class="nav_li"><a class= ""  href="/courses">Courses</a></li>
            <!--<li class="nav_li"><a class= "" href="/assignments">Assignments</a></li>-->
        </ul>
        {%endblock%}
        
        {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div id="messages">
                        {% for msg in messages %}
                            {{msg}}
                        {% endfor %}
                        </div>
                    {% endif %}
                
                 {% endwith %}
        
            {% block content %}
            
             
            <div class="content">
                
            <a href="{{url}}">Login</a>
            <form method="POST" action="{{url_for('flaskLogin')}}" class="login-form">
                <label for="username-email">Username or Email:</label>
                <input type="text" name="username-email"/>
                <label for="password">Password:</label>
                <input type="password" name="password" />
                <input type="submit" name="submit"/>
            </form>
             
             </div>
            {% endblock %}
             
       
    </body>
{% block script %}
{%endblock%}
</html>