<html>
    <head>
        <title>{% block title %} Courses {% endblock %}</title>
        <meta charset="utf-8">
        <link type="text/css"
          rel="stylesheet"
          href="{{ url_for('static', filename = 'style.css') }}">
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <div class="courses content">
                {% block tile %}
                <div class="card">
                    <div class="container">
                        <h4><b>example</b></h4>
                        <p>example</p>
                        <p>example</p> 
                    </div>
                </div>
        {% endblock %}
        </div>
        {% endblock %}
    </body>
    
</html>