<html>
    <head>
        <title>{% block title %} Courses {% endblock %}</title>
        <meta charset="utf-8">
        <link type="text/css"
          rel="stylesheet"
          href="{{ url_for('static', filename = 'style.css') }}">
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <div class="courses content">
                {% block tile %}
                {% for course in courses %}
                <div class="card">
                    <div class="container">
                        <h4><b>{{course.courseName}}</b></h4>
                        <p>{{course.semester}}</p>
                        <p>{{course.instructor}}</p> 
                    </div>
                </div>
                {% endfor %}
        {% endblock %}
        </div>
        {% endblock %}
    </body>
    
</html>