{% extends "base.html"%}
{% block title %}Dashboard{% endblock %}

{% block content%}
                <div class = 'content'>
                    Hi, {{name}}
                    <br>
                    Welcome to CoPro! 
                    <br>
                    An Application that makes assigning partners/teammates to students easier.
                    
                    <img style="margin-left:45%;" src="{{url_for('static', filename = 'images/logo.png')}}" width=300 height=300>
                </div>
{% endblock %}