{% extends "base.html" %}
{% block title %} {{course.courseName}}{% endblock %}

{%block content %}
    <div class = "content">
        <h1>{{course.courseName}}</h1>
        <p>Semester: {{course.semester}}</p>
        <p>Instructor: {{course.instructor}}</p>
        <div class = "groups">    
            <h2 id = "numGroups">Groups ( {{numGroups}} )</h2>
                    <table id="groups-list">
                        <tr>
                                <th>Group Num</th>
                        </tr>
                        {% for group in groups %}
                            <tr data-pid={{group.groupNum}}>
                                    <td class="group-num">{{group.groupNum}}</td>
                            </tr>
                        {% endfor %}
                    </table>
        </div>
        <button id='match'>Create Groups</button>
    </div>
{%endblock%}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var URL = "{{url_for('match')}}"
    
    $('#match').click(function(){
        console.log( {{courseNum}} );
        $.get(URL,{'courseNum': {{courseNum}}, 'pid': {{pid}} }, function(data){
            console.log(data);
            $("#numGroups").text('Groups( '+ data.groupNum.length + ' )')
            for (i = 0; i < data.groupNum.length; i++) { 
                $('#groups-list').append("<tr data-pid='"+ data.groupNum + "'> <td class = 'group-num'>" + data.groupNum[i] + "</td></tr>");
            }
        });
    });
</script>
{% endblock %}