<html>
    <head>
        <title>{% block title %} Update {% endblock %}</title>
         <link type="text/css"
          rel="stylesheet"
          href="{{ url_for('static', filename = 'style.css') }}">
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        
        {% if pset %}
        
            
            <div class="update content">
                <h2>Update {{pset.psetTitle}}</h2>
            	<form method=POST action="{{url_for('deleteAssignment', pid = pset.pid)}}">
                  <table>
                        <tr>
                          <td><label for="pid">Assignment Number</label></td>
                          <td><input id = 'pid' name='pid' value='{{pset.pid}}' required></td> 
                        </tr>
                        <tr>
                          <td><label for="psetTitle">Assignment Title</label></td>
                          <td><input id = 'psetTitle' name='psetTitle' value='{{pset.psetTitle}}' required></td>
                        </tr>
                        <tr>
                          <td><label for="dueDate">Due Date</label></td>
                          <td><input id= 'dueDate' name='dueDate' value='{{pset.dueDate}}' required></td>
                        </tr>
                        <tr>
                          <td><label for="maxSize">Max Group Size</label></td>
                          <td><input id = 'maxSize' name='maxSize' value='{{pset.maxSize}}' required></td>
                        </tr>
                        <tr>
                          <td><label for="courseNum">Course Number</label></td>
                          <td><input id = 'courseNum' name='courseNum' value='{{courseNum}}' disabled></td>
                        </tr>
                  </table>
                  <input type="submit" name="submit" value="update">
                  <input type="submit" name="submit" value="delete">
                </form>
            
          	</div>
      	{% endif %}
        {% endblock %}
    </body>
    
</html>